body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: white;
    text-decoration: none;
}

header img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 3px solid #fb6a3d;
}

.center {
    text-align: center;
}

h1 {
    color: #fb6a3d;
}

footer img {
    width: 40px;
    height: 40px;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    margin: 20px;
     text-align: center;
}

footer p {
    margin-top: 2px;

}

.container {
    padding: 0px 50px;
}

nav a:hover {
    color: #fb6a3d;
}

h1 {
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: center;
}
